{% extends "base.html" %}

{% block content %}

<div class="page-wrapper container mt-5">
  <h2 class="text-center mb-4">Top 3 overall</h2>
  <div class="row justify-content-center text-center">
    {% for user in top_users%}
    <div class="col-md-3">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <h3>
            {% if loop.index == 2 %} &#129351
            {% elif loop.index == 1 %} &#129352
            {% elif loop.index == 3 %} &#129353
            {% endif %}
          </h3>

          <h5 class="card-title">{{ user.username }}</h5>

          <p class="card-text">
            <strong>Score:</strong> {{ user.score }}<br>
            <strong>Time:</strong> {{ user.time_taken }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% for day in sorted_users_by_day_taken %}
    <div class="row">
      <h3 class="text-center">March {{ day }}</h3>
      {% for quiz_type in sorted_users_by_day_taken[day] %}
      <div class="col-md-4">
        <h2 class="text-center">
          {% if quiz_type == '1' %} OTT
          {% elif quiz_type == '2' %} DAI
          {% elif quiz_type == '3' %} Encoding
          {% endif %}
        </h2>
        <div class="table-responsive" style="overflow-x: hidden;">
          <table class="table table-striped table-hover text-center align-middle">
            <thead>
              <tr>
                <th>#</th>
                <th style="width:150px;">Player</th>
                <th>Score</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {% for user in sorted_users_by_day_taken[day][quiz_type] %}
              <tr>
                <td>{{ loop.index }}</td>
                <td style="display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:150px;">{{ user.username }}</td>
                <td>{{ user.score }}</td>
                <td>{{ user.time_taken }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
    </div><br>
  {% endfor %}
</div>

{% endblock %}