{% extends "base.html" %}

{% block content %}
<script>
let startTime = Date.now();

function submitQuiz() {
    let endTime = Date.now();
    let elapsedTime = (endTime - startTime) / 1000;

    // store in hidden input
    document.getElementById("time_taken").value = elapsedTime;

    document.getElementById("quizForm").submit();
}
</script>

  <h1>Test 1</h1>
    <form id="quizForm" method="POST" action="{{ url_for('main.results', username=username) }}">
        {% for q in form.questions %}
            <div class="question-block">
                <p>{{ (q.form.question_text.label|string)[10:] }}</p>
                {{ q.form.question_number }}
                {% for subfield in q.form.options %}
                    <label>
                        {{ subfield }}
                        {{ subfield.label.text }}
                    </label><br>
                {% endfor %}
            </div>
        {% endfor %}
    <input type="hidden" name="time_taken" id="time_taken">
    <button type="button" onclick="submitQuiz()">Submit</button>
    </form>
{% endblock %}